<ion-view view-title="Today's Orders">
    <ion-nav-buttons side="right">
        <button class="button button-large ng-click-active ion-refresh" ng-click="vm.init()"> Refresh
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="container">
            <ul class="list m-b-0">
                <li class="item item-icon-right">
                    <i ng-if="vm.name.value" ng-click="vm.clearFilter()" class="icon ion-close-circled assertive"></i>
                    <input type="text" ng-model="vm.name.value" placeholder="Filter by name" class="col">
                </li>
            </ul>
            <div class="row unlimited-items">
                
                <div class="col-33 animate-leave" ng-repeat="checkout in vm.todaysCheckouts | filter: vm.nameFilter track by $index">
                    <div class="list card card-checkout">
                        <div class="item item-card-divider positive-bg text-white p-r-120 p-l-50">
                            <button class="button button-clear first-left-btn" ng-click="vm.setArchive(checkout, $index)"><i class="icon ion-checkmark-circled light"></i></button>
                            <button class="button button-clear second-right-btn" ng-click="vm.openModal(checkout)"><i class="icon ion-edit light"></i></button>
                            <button class="button button-clear first-right-btn" ng-click="vm.deleteCheckout(checkout)"><i class="icon ion-close-circled light"></i></button>
                            <strong>{{checkout.Athlete.lastName + ', ' + checkout.Athlete.firstName}}</strong>
                            <br>
                            <small>{{checkout.CreateDate | date: 'shortTime'}}</small>
                            <!-- <small>{{vm.parseRelativeTime(checkout.createDate)}}</small>-->
                        </div>
                        <div class="card-order-body">
                            <ion-scroll>
                                <ion-list>
                                    <ion-item class="padding" ng-repeat="choice in checkout.CheckoutChoices">
                                        {{choice.Choice.name}}
                                    </ion-item>
                                    <ion-item></ion-item>
                                </ion-list>
                            </ion-scroll>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>
