<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Add/Update Choice</h1>
    </ion-header-bar>
    <ion-content class="has-header">
        <div class="padding energized-bg" ng-if="vm.formInvalid">
            Please fill out all fields before saving.
        </div>
        <form name="vm.newChoiceForm" novalidate>
            <div class="list">

                <label for="name" class="item item-input">
                    <span class="input-label">
                                Name
                            </span>
                    <input type="text" name="name" ng-model="vm.selectedSnack.name" required/>
                </label>

                <label for="type" class="item item-input item-select">
                    <span class="input-label">
                                Type
                            </span>
                    <select name="type" ng-model="vm.selectedSnack.type" ng-options="type.value as type.label for type in vm.typeOptions" required>

                    </select>
                </label>
                <label for="type" class="item item-input item-toggle">
                    <span class="input-label">
                                Available
                            </span>
					<label class="toggle">
					   <input type="checkbox" ng-model="vm.selectedSnack.isActive">
					   <div class="track">
						 <div class="handle"></div>
					   </div>
					</label>
                </label>
                <label for="type" class="item item-input item-toggle">
                    <span class="input-label">
                                Pre-Workout?
                            </span>
					<label class="toggle">
					   <input type="checkbox" ng-model="vm.selectedSnack.isPre">
					   <div class="track">
						 <div class="handle"></div>
					   </div>
					</label>
                </label>
                <label for="type" class="item item-input item-toggle">
                    <span class="input-label">
                                Post-Workout?
                            </span>
					<label class="toggle">
					   <input type="checkbox" ng-model="vm.selectedSnack.isPost">
					   <div class="track">
						 <div class="handle"></div>
					   </div>
					</label>
                </label>
                <label for="type" class="item item-input item-toggle">
                    <span class="input-label">
                                Hydration?
                            </span>
					<label class="toggle">
					   <input type="checkbox" ng-model="vm.selectedSnack.isHydration">
					   <div class="track">
						 <div class="handle"></div>
					   </div>
					</label>
                </label>
                <label for="type" class="item item-input item-toggle">
                    <span class="input-label">
                                Snack?
                            </span>
					<label class="toggle">
					   <input type="checkbox" ng-model="vm.selectedSnack.isSnack">
					   <div class="track">
						 <div class="handle"></div>
					   </div>
					</label>
                </label>
                <label for="type" class="item item-input item-toggle">
                    <span class="input-label">
                                Free?
                            </span>
					<label class="toggle">
					   <input type="checkbox" ng-model="vm.selectedSnack.isFree">
					   <div class="track">
						 <div class="handle"></div>
					   </div>
					</label>
                </label>
				<div class="padding">
                    <button ng-click="vm.closeModal()" class="button button-stable">Cancel</button>
                    <button ng-click="vm.saveChoice()" class="button button-balanced">Save</button>
                </div>


            </div>
        </form>
    </ion-content>
</ion-modal-view>
